* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "roboto", arial, helvetica;
}
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color del thumb (barra) */
}
#root {
  min-width: 16rem;
  background-color: rgb(5, 159, 159);
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
